<rz-header #header0 [style]="{'backgroundColor': '#F1903C'}">
  <div class="row justify-content-start align-items-center" [ngStyle]="{'height': '50px'}">
    <div class="align-items-start d-flex col-10" [ngStyle]="{'backgroundColor': 'rgba(0, 0, 0, 0)', 'marginLeft': '', 'marginRight': '', 'marginTop': '', 'paddingLeft': '25px', 'paddingRight': ''}" (click)="onClickNavigateBack()">
      <rz-icon #icon0 icon="arrow_back" [style]="{'color': '#f5f5f5', 'fontSize': '26px', 'fontWeight': 'normal', 'marginLeft': '6px', 'marginTop': '5px'}">
      </rz-icon>
      <rz-label #label0 [style]="{'color': '#f5f5f5', 'fontFamily': 'verdana,geneva,sans-serif', 'fontSize': '18px', 'fontWeight': 'normal', 'marginLeft': '15px', 'marginTop': '5px'}" [text]="globalKundenName">
      </rz-label>
    </div>
    <div class="text-lg-right           justify-content-end d-flex col-2" [ngStyle]="{'display': 'inline-block', 'float': 'right', 'marginTop': '-4px', 'paddingRight': '29px', 'textAlign': 'right'}" (click)="onClickStartDashboard()">
      <rz-icon #icon1 icon="dashboard" [style]="{'color': '#f5f5f5', 'fontSize': '24px', 'fontWeight': 'normal', 'marginTop': '8px'}">
      </rz-icon>
    </div>
  </div>
</rz-header>
<rz-body #body0 [style]="{'paddingBottom': '0', 'paddingLeft': '0', 'paddingRight': '0', 'paddingTop': '0'}">
  <rz-content-container #contentContainer0 name="contentContainer0">
  </rz-content-container>
</rz-body>
<router-outlet></router-outlet>
