<rz-content #content1 container="main">
  <rz-heading #pageTitle size="H1" text="Add Aa Kunden Kontakte">
  </rz-heading>
  <div class="row">
    <div class="col-md-12">
      <rz-form #form0 (cancel)="form0Cancel($event)" (submit)="form0Submit($event)">
        <rz-lookup-form-field [data]="getKundensResult" property="KundenID" [required]="true" textProperty="Vorbemerkungen" title="Kunden" valueProperty="KundenID" placeholder="Choose Kunden" requiredText="is required" multipleItemsSelectedText="{0} items selected" emptyFilterText="No results found" type="lookup">
        </rz-lookup-form-field>
        <rz-lookup-form-field [data]="getKundenKontakteArtensResult" property="KundenKontaktArtID" [required]="true" textProperty="Bezeichnung" title="Kunden Kontakte Arten" valueProperty="KundenKontaktArtID" placeholder="Choose KundenKontakteArten" requiredText="is required" multipleItemsSelectedText="{0} items selected" emptyFilterText="No results found" type="lookup">
        </rz-lookup-form-field>
        <rz-string-form-field property="Name" [required]="true" title="Name" [maxLength]="80" requiredText="is required" type="string">
        </rz-string-form-field>
        <rz-string-form-field property="Adresse" [required]="false" title="Adresse" [maxLength]="150" requiredText="is required" type="string">
        </rz-string-form-field>
        <rz-string-form-field property="Telefon" [required]="false" title="Telefon" [maxLength]="30" requiredText="is required" type="string">
        </rz-string-form-field>
        <rz-string-form-field property="EMail" [required]="false" title="E Mail" [maxLength]="70" requiredText="is required" type="string">
        </rz-string-form-field>
        <rz-integer-form-field property="BaseID" [required]="false" title="Base Id" requiredText="is required" minText="cannot be less than" maxText="cannot be more than" type="integer">
        </rz-integer-form-field>
        <rz-boolean-form-field property="Hauptansprechpartner" title="Hauptansprechpartner" requiredText="is required" type="boolean">
        </rz-boolean-form-field>
        <rz-string-form-field property="Info" [required]="false" title="Info" [maxLength]="16777215" requiredText="is required" type="string">
        </rz-string-form-field>
      </rz-form>
    </div>
  </div>
</rz-content>
