<rz-body #body0 [style]="{'marginLeft': '0px'}" Expanded="true">
  <div class="row justify-content-center">
    <div class="justify-content-center  col-md-7 col-xl-4">
      <rz-card #card0 [style]="{'marginTop': '8rem', 'paddingBottom': '0px', 'paddingLeft': '0px', 'paddingRight': '0px', 'paddingTop': '0px'}">
        <div class="col-md-12" [ngStyle]="{'backgroundColor': 'rgba(0, 0, 0, 0)', 'marginLeft': '', 'marginRight': '', 'marginTop': '', 'paddingBottom': '18px', 'paddingLeft': '', 'paddingRight': '', 'paddingTop': '15px'}" class="kopfzeileVerlaufend">
          <rz-image #image1 path="/assets/images/LogoMitSchriftzug4.png" [style]="{'float': 'left', 'height': '30px', 'paddingLeft': '15px'}" (click)="image1Click($event)">
          </rz-image>
          <rz-label #label2 [style]="{'color': '#f5f5f5', 'float': 'none', 'fontSize': '12px', 'paddingLeft': '10px', 'paddingRight': '10px', 'paddingTop': '8px'}" text="|">
          </rz-label>
          <rz-label #label5 [style]="{'color': '#f5f5f5', 'float': 'none', 'fontSize': '14px', 'fontWeight': 'normal', 'paddingTop': '6px'}" text="SinDarEla">
          </rz-label>
        </div>
        <div class="col-md-12" [ngStyle]="{'paddingBottom': '15px', 'paddingLeft': '25px', 'paddingRight': '25px', 'paddingTop': '25px'}">
          <rz-content-container #main name="main">
          </rz-content-container>
        </div>
      </rz-card>
    </div>
  </div>
</rz-body>
<router-outlet></router-outlet>
