<rz-content #content1 container="main">
  <div [ngStyle]="{'marginBottom': '-3px', 'marginTop': '-7px', 'paddingLeft': '3px', 'paddingRight': '5px'}" class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <rz-heading #heading2 size="H2" [style]="{'color': '#5d717b', 'display': 'inline-block', 'width': ''}" text="Dashboard">
      </rz-heading>
      <rz-heading #heading10 size="H3" [style]="{'color': '#6d787d', 'display': 'inline-block', 'marginTop': '9px', 'paddingLeft': '5px', 'paddingRight': '5px'}" text="|">
      </rz-heading>
      <rz-heading #heading9 size="H6" [style]="{'color': '#6d787d', 'display': 'inline', 'float': 'none', 'width': ''}" [text]="security?.user?.name" >
      </rz-heading>
    </div>
  </div>
  <rz-card #card0 [style]="{'backgroundColor': '#ffffff', 'borderRadius': '', 'display': 'block', 'height': '200px', 'marginBottom': '10px', 'paddingLeft': '15px'}">
    <div [ngStyle]="{'marginBottom': '20px'}" class="row">
      <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6" [ngStyle]="{}">
        <rz-heading #heading0 size="H5" [style]="{'display': 'inline'}" text="Returlaub / Mehrarbeitsstunden">
        </rz-heading>
        <rz-progressbar #progressbar0 [showValue]="false" [style]="{'height': '8px', 'marginBottom': '10px', 'marginTop': '10px'}" value="75">
        </rz-progressbar>
        <rz-heading #heading15 size="H5" [style]="{'color': '#5d717b', 'display': 'inline'}" text="Gesamtansicht">
        </rz-heading>
      </div>
      <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6" [ngStyle]="{'paddingLeft': '23px'}">
        <rz-heading #heading19 size="H5" [style]="{'display': 'inline'}" text="Noch zu bestätigen">
        </rz-heading>
        <rz-gauge #gauge0 [max]="100" [min]="0" [style]="{'float': 'right', 'height': '67px'}" text="+74%" [value]="74">
        </rz-gauge>
      </div>
    </div>
    <div class="row">
      <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
        <rz-heading #heading20 size="H5" [style]="{'display': 'inline'}" text="Aktivitäten">
        </rz-heading>
        <rz-heading #heading21 size="H4" [style]="{'backgroundColor': 'rgba(0, 0, 0, 0)', 'color': '#5dbf74', 'display': 'block', 'float': 'right', 'fontWeight': 'normal', 'marginBottom': '0px', 'textAlign': 'right'}" text="139">
        </rz-heading>
        <rz-sparkline #sparkline0 color="#5dbf74" [data]="customers" [style]="{'display': 'inline-block', 'marginTop': '10px', 'width': '100%'}">
        </rz-sparkline>
      </div>
      <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6" [ngStyle]="{'paddingLeft': '23px'}">
        <rz-heading #heading24 size="H5" [style]="{'display': 'inline', 'marginLeft': '0px', 'marginTop': '10px'}" text="Info">
        </rz-heading>
        <rz-image #image0 path="assets/images/KeinBildPerson.png" [style]="{'borderRadius': '50%', 'float': 'right', 'height': '54px', 'textAlign': 'left', 'verticalAlign': 'top', 'width': '54px'}">
        </rz-image>
      </div>
    </div>
  </rz-card>
  <div [ngStyle]="{'paddingBottom': '10px', 'paddingLeft': ''}" class="row">
    <div class="col-lg-6    col-6 col-sm-6 col-md-6 col-xl-6" [ngStyle]="{'paddingRight': '5px'}">
      <rz-card #card1 [style]="{'backgroundColor': '#ffffff', 'border': '0px 0px 3px none none solid #f9f9f9', 'borderBottom': '3px solid rgb(241, 144, 60)', 'display': 'block', 'height': '120px', 'paddingLeft': '15px', 'paddingRight': '20px'}">
        <div [ngStyle]="{'paddingBottom': '0px', 'paddingTop': '0px'}" class="row">
          <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
            <rz-icon #icon0 icon="assignment" [style]="{'color': '#F1903C', 'fontSize': '36px'}">
            </rz-icon>
          </div>
        </div>
        <rz-button #button1 size="sm" [style]="{'backgroundColor': 'rgba(0, 0, 0, 0)', 'color': '#5d717b', 'fontSize': '18px', 'fontWeight': '600', 'paddingLeft': '3px', 'position': 'static', 'textAlign': 'left', 'width': '100%'}" text="Termine" (click)="button1Click($event)">
        </rz-button>
        <rz-heading #heading1 size="H4" [style]="{'color': '#5d717b', 'display': 'block', 'fontSize': '12px', 'fontWeight': 'normal', 'paddingLeft': '3px', 'textAlign': 'left'}" text="Termine 3 | Offen 1">
        </rz-heading>
      </rz-card>
    </div>
    <div class="col-lg-6    col-6 col-sm-6 col-md-6 col-xl-6" [ngStyle]="{'paddingLeft': '5px'}">
      <rz-card #card6 [style]="{'backgroundColor': '#ffffff', 'borderBottom': '3px solid #f1903c', 'display': 'block', 'height': '120px', 'paddingLeft': '15px', 'paddingRight': '20px'}">
        <div [ngStyle]="{'paddingBottom': '0px', 'paddingTop': '0px'}" class="row">
          <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
            <rz-icon #icon2 icon="face" [style]="{'color': '#F1903C', 'fontSize': '36px'}">
            </rz-icon>
          </div>
        </div>
        <rz-button #button0 size="sm" [style]="{'backgroundColor': 'rgba(0, 0, 0, 0)', 'color': '#5d717b', 'fontSize': '18px', 'fontWeight': '600', 'paddingLeft': '3px', 'position': 'static', 'textAlign': 'left', 'width': '100%'}" text="Kunden" (click)="button0Click($event)">
        </rz-button>
        <rz-heading #heading11 size="H4" [style]="{'color': '#5d717b', 'display': 'block', 'fontSize': '12px', 'fontWeight': 'normal', 'paddingLeft': '3px', 'textAlign': 'left'}" text="Aktiv 9 | Antrag 2">
        </rz-heading>
      </rz-card>
    </div>
  </div>
  <div [ngStyle]="{'paddingBottom': '10px', 'paddingLeft': ''}" class="row">
    <div class="col-lg-6    col-6 col-sm-6 col-md-6 col-xl-6" [ngStyle]="{'paddingRight': '5px'}">
      <rz-card #card2 [style]="{'backgroundColor': '#ffffff', 'borderBottom': '3px solid rgb(241, 144, 60)', 'display': 'block', 'height': '120px', 'paddingLeft': '15px', 'paddingRight': '20px'}">
        <div [ngStyle]="{'paddingBottom': '0px', 'paddingTop': '0px'}" class="row">
          <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
            <rz-icon #icon1 icon="book" [style]="{'color': '#F1903C', 'fontSize': '36px'}">
            </rz-icon>
          </div>
        </div>
        <rz-button #button2 size="sm" [style]="{'backgroundColor': 'rgba(0, 0, 0, 0)', 'color': '#5d717b', 'fontSize': '18px', 'fontWeight': '600', 'paddingLeft': '3px', 'position': 'static', 'textAlign': 'left', 'width': '100%'}" text="Mitarbeiter" (click)="button2Click($event)">
        </rz-button>
        <rz-heading #heading4 size="H4" [style]="{'color': '#5d717b', 'display': 'block', 'fontSize': '12px', 'fontWeight': 'normal', 'paddingLeft': '3px', 'textAlign': 'left'}" text="Gruppe 12">
        </rz-heading>
      </rz-card>
    </div>
    <div class="col-lg-6    col-6 col-sm-6 col-md-6 col-xl-6" [ngStyle]="{'paddingLeft': '5px'}">
      <rz-card #card4 [style]="{'backgroundColor': '#ffffff', 'borderBottom': '3px solid #f1903c', 'display': 'block', 'height': '120px', 'paddingLeft': '15px', 'paddingRight': '20px'}">
        <div [ngStyle]="{'paddingBottom': '0px', 'paddingTop': '0px'}" class="row">
          <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
            <rz-icon #icon4 icon="email" [style]="{'color': '#F1903C', 'fontSize': '36px'}">
            </rz-icon>
          </div>
        </div>
        <rz-button #button4 size="sm" [style]="{'backgroundColor': 'rgba(0, 0, 0, 0)', 'color': '#5d717b', 'fontSize': '18px', 'fontWeight': '600', 'paddingLeft': '3px', 'position': 'static', 'textAlign': 'left', 'width': '100%'}" text="Mitteilungen" (click)="button4Click($event)">
        </rz-button>
        <rz-heading #heading6 size="H4" [style]="{'color': '#5d717b', 'display': 'block', 'fontSize': '12px', 'fontWeight': 'normal', 'paddingLeft': '3px', 'textAlign': 'left'}" text="Neu 3 | Offen 2">
        </rz-heading>
      </rz-card>
    </div>
  </div>
  <div [ngStyle]="{'paddingBottom': '10px'}" class="row">
    <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6" [ngStyle]="{'paddingRight': '5px'}">
      <rz-card #card3 [style]="{'backgroundColor': '#ffffff', 'borderBottom': '3px solid #f1903c', 'display': 'block', 'height': '120px', 'paddingLeft': '15px', 'paddingRight': '20px'}">
        <div [ngStyle]="{'paddingBottom': '0px', 'paddingTop': '0px'}" class="row">
          <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
            <rz-icon #icon3 icon="directions_car" [style]="{'color': '#F1903C', 'fontSize': '36px'}">
            </rz-icon>
          </div>
        </div>
        <rz-button #button3 size="sm" [style]="{'backgroundColor': 'rgba(0, 0, 0, 0)', 'color': '#5d717b', 'fontSize': '18px', 'fontWeight': '600', 'paddingLeft': '3px', 'position': 'static', 'textAlign': 'left', 'width': '100%'}" text="Fahrtenbuch" (click)="button3Click($event)">
        </rz-button>
        <rz-heading #heading5 size="H4" [style]="{'color': '#5d717b', 'display': 'block', 'fontSize': '12px', 'fontWeight': 'normal', 'paddingLeft': '3px', 'textAlign': 'left'}" text="Einträge 7">
        </rz-heading>
      </rz-card>
    </div>
    <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6" [ngStyle]="{'paddingLeft': '5px'}">
      <rz-card #card5 [style]="{'backgroundColor': '#ffffff', 'borderBottom': '3px solid #f1903c', 'display': 'block', 'height': '120px', 'paddingLeft': '15px', 'paddingRight': '20px'}">
        <div [ngStyle]="{'paddingBottom': '0px', 'paddingTop': '0px'}" class="row">
          <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
            <rz-icon #icon5 icon="settings" [style]="{'color': '#F1903C', 'fontSize': '36px'}">
            </rz-icon>
          </div>
        </div>
        <rz-button #button5 size="sm" [style]="{'backgroundColor': 'rgba(0, 0, 0, 0)', 'color': '#5d717b', 'fontSize': '18px', 'fontWeight': '600', 'paddingLeft': '3px', 'position': 'static', 'textAlign': 'left', 'width': '100%'}" text="Einstellungen" (click)="button5Click($event)">
        </rz-button>
        <rz-heading #heading7 size="H4" [style]="{'color': '#5d717b', 'display': 'block', 'fontSize': '12px', 'fontWeight': 'normal', 'paddingLeft': '3px', 'textAlign': 'left'}" text="Dein Profil">
        </rz-heading>
      </rz-card>
    </div>
  </div>
  <div [ngStyle]="{'paddingBottom': '10px'}" class="row">
    <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6" [ngStyle]="{'paddingRight': '5px'}">
      <rz-card #card7 [style]="{'backgroundColor': '#ffffff', 'borderBottom': '3px solid #f1903c', 'display': 'block', 'height': '120px', 'paddingLeft': '15px', 'paddingRight': '20px'}">
        <div [ngStyle]="{'paddingBottom': '0px', 'paddingTop': '0px'}" class="row">
          <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
            <rz-icon #icon6 icon="account_balance" [style]="{'color': '#F1903C', 'fontSize': '36px'}">
            </rz-icon>
          </div>
        </div>
        <rz-button #button6 size="sm" [style]="{'backgroundColor': 'rgba(0, 0, 0, 0)', 'color': '#5d717b', 'fontSize': '18px', 'fontWeight': '600', 'paddingLeft': '3px', 'position': 'static', 'textAlign': 'left', 'width': '100%'}" text="Urlaub / ZA Antrag" (click)="button6Click($event)">
        </rz-button>
        <rz-heading #heading13 size="H4" [style]="{'color': '#5d717b', 'display': 'block', 'fontSize': '12px', 'fontWeight': 'normal', 'paddingLeft': '3px', 'textAlign': 'left'}" text="Inhalt App">
        </rz-heading>
      </rz-card>
    </div>
    <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6" [ngStyle]="{'paddingLeft': '5px'}">
      <rz-card #card9 [style]="{'backgroundColor': '#ffffff', 'borderBottom': '3px solid #f1903c', 'display': 'block', 'height': '120px', 'paddingLeft': '15px', 'paddingRight': '20px'}">
        <div [ngStyle]="{'paddingBottom': '0px', 'paddingTop': '0px'}" class="row">
          <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
            <rz-icon #icon7 icon="verified_user" [style]="{'color': '#F1903C', 'fontSize': '36px'}">
            </rz-icon>
          </div>
        </div>
        <rz-button #button7 size="sm" [style]="{'backgroundColor': 'rgba(0, 0, 0, 0)', 'color': '#5d717b', 'fontSize': '18px', 'fontWeight': '600', 'paddingLeft': '3px', 'position': 'static', 'textAlign': 'left', 'width': '100%'}" text="Arbeitsaufzeichnung" (click)="button7Click($event)">
        </rz-button>
        <rz-heading #heading14 size="H4" [style]="{'color': '#5d717b', 'display': 'block', 'fontSize': '12px', 'fontWeight': 'normal', 'paddingLeft': '3px', 'textAlign': 'left'}" text="Schutz Privatsphäre">
        </rz-heading>
      </rz-card>
    </div>
  </div>
  <rz-card #card8 [style]="{'backgroundColor': '#FFFFFF', 'display': 'block', 'height': '65px', 'paddingTop': '11px'}">
    <rz-heading #heading8 size="H6" [style]="{'color': '#5d717b', 'fontWeight': 'normal', 'marginBottom': '0px', 'textAlign': 'center'}" text="© 2021 Soziale-Dienste-Ennstal">
    </rz-heading>
    <rz-link #link0 path="versionen" [style]="{'float': 'right', 'marginTop': '-2px', 'textAlign': 'center', 'width': '100%'}" text="Version 3.21.017">
    </rz-link>
  </rz-card>
</rz-content>
