<rz-content #content1 container="main">
  <div [ngStyle]="{'backgroundColor': '#b96205'}" class="row">
    <div class="col-9" [ngStyle]="{'paddingLeft': '30px'}">
      <rz-label #label30 [style]="{'color': '#f5f5f5', 'display': 'inline-block', 'fontSize': '14px', 'fontStyle': 'normal', 'fontWeight': 'normal', 'textAlign': 'left'}" [text]="security?.user?.name">
      </rz-label>
    </div>
    <div class="col-3" [ngStyle]="{'paddingRight': '30px', 'textAlign': 'right'}">
      <rz-label #label31 [style]="{'color': '#4C7DA5', 'display': 'inline-block', 'fontSize': '12px', 'fontStyle': 'normal', 'fontWeight': 'normal', 'textAlign': 'right'}" [text]="dateHeute | utcDate:'dd.MM.yyyy'">
      </rz-label>
    </div>
  </div>
  <div [ngStyle]="{'backgroundColor': '#ffc16b', 'height': '120px', 'marginBottom': '0', 'marginLeft': '0', 'marginRight': '0', 'marginTop': '0'}" class="row">
    <div class="col-3" [ngStyle]="{'display': 'inline-block', 'textAlign': 'left', 'verticalAlign': 'baseline'}">
      <rz-label #label29 [style]="{'color': '#1B507C', 'display': 'block', 'fontSize': '28px', 'textAlign': 'center', 'verticalAlign': 'baseline', 'width': '100%'}" text="12">
      </rz-label>
      <rz-label #label3 [style]="{'color': '#1B507C', 'display': 'block', 'fontSize': '14px', 'textAlign': 'center'}" text="Mitteilungen">
      </rz-label>
    </div>
    <div class="col-3" [ngStyle]="{}">
      <rz-label #label32 [style]="{'color': '#f5f5f5', 'fontSize': '28px', 'fontWeight': 'normal'}" text="12">
      </rz-label>
      <rz-label #label0 [style]="{'color': '#1B507C', 'display': 'block', 'fontSize': '14px'}" text="Mitteilungen">
      </rz-label>
    </div>
    <div class="col-3" [ngStyle]="{}">
      <rz-label #label33 [style]="{'color': '#282686', 'fontSize': '28px'}" text="12">
      </rz-label>
      <rz-label #label1 [style]="{'color': '#1B507C', 'display': 'block', 'fontSize': '14px'}" text="Mitteilungen">
      </rz-label>
    </div>
    <div class="col-3" [ngStyle]="{}">
      <rz-label #label34 [style]="{'color': '#4C7DA5', 'fontSize': '28px'}" text="12">
      </rz-label>
      <rz-label #label2 [style]="{'color': '#1B507C', 'display': 'block', 'fontSize': '14px'}" text="Mitteilungen">
      </rz-label>
    </div>
  </div>
  <div [ngStyle]="{'backgroundColor': '#F5F5F6', 'borderBottom': '1px dotted #f1903c', 'borderTop': '1px dotted #f1903c', 'paddingRight': ''}" class="row">
    <div class="col-12" [ngStyle]="{'display': 'block', 'paddingBottom': '5px', 'paddingLeft': '80px', 'paddingRight': '50px', 'paddingTop': '5px'}">
      <rz-label #label42 [style]="{'color': '#5d717b', 'display': 'block', 'float': 'none', 'fontSize': '18px', 'fontStyle': 'normal', 'fontWeight': 'bold', 'textAlign': 'left', 'width': '100%'}" text="Erfassen">
      </rz-label>
      <rz-label #label43 [style]="{'color': '#3a474d', 'display': 'block', 'float': 'none', 'fontSize': '14px', 'fontStyle': 'normal', 'fontWeight': 'normal', 'marginBottom': '2px', 'marginTop': '-3px', 'position': 'static', 'textAlign': 'left', 'width': '100%'}" text="Artikel für einen Lagerort erfassen">
      </rz-label>
      <rz-icon #icon28 icon="assignment_turned_in" [style]="{'color': '#F1903C', 'display': 'block', 'fontSize': '36px', 'left': '25px', 'marginTop': '5px', 'position': 'absolute', 'top': '7px'}">
      </rz-icon>
      <rz-icon #icon29 icon="navigate_next" [style]="{'color': '#F1903C', 'display': 'none', 'float': 'none', 'fontSize': '32px', 'fontWeight': 'normal', 'position': 'absolute', 'right': '30px', 'top': '13px'}">
      </rz-icon>
    </div>
  </div>
  <div [ngStyle]="{'backgroundColor': '#F5F5F6', 'borderBottom': '1px dotted #f1903c', 'paddingRight': ''}" class="row">
    <div class="col-12" [ngStyle]="{'display': 'block', 'paddingBottom': '5px', 'paddingLeft': '80px', 'paddingRight': '50px', 'paddingTop': '5px'}">
      <rz-label #label36 [style]="{'color': '#5d717b', 'display': 'block', 'float': 'none', 'fontSize': '18px', 'fontStyle': 'normal', 'fontWeight': 'bold', 'textAlign': 'left', 'width': '100%'}" text="Erfassen">
      </rz-label>
      <rz-label #label37 [style]="{'color': '#3a474d', 'display': 'block', 'float': 'none', 'fontSize': '14px', 'fontStyle': 'normal', 'fontWeight': 'normal', 'marginBottom': '2px', 'marginTop': '-3px', 'position': 'static', 'textAlign': 'left', 'width': '100%'}" text="Artikel für einen Lagerort erfassen">
      </rz-label>
      <rz-icon #icon23 icon="assignment_turned_in" [style]="{'color': '#F1903C', 'display': 'block', 'fontSize': '36px', 'left': '25px', 'marginTop': '5px', 'position': 'absolute', 'top': '7px'}">
      </rz-icon>
      <rz-icon #icon24 icon="navigate_next" [style]="{'color': '#F1903C', 'display': 'none', 'float': 'none', 'fontSize': '32px', 'fontWeight': 'normal', 'position': 'absolute', 'right': '30px', 'top': '13px'}">
      </rz-icon>
    </div>
  </div>
  <div class="row align-items-center" [ngStyle]="{'backgroundColor': '#F5F5F6', 'height': '70px', 'paddingRight': ''}">
    <div class="col-12" [ngStyle]="{'display': 'block'}">
      <rz-heading #heading8 size="H6" [style]="{'color': '#5d717b', 'fontWeight': 'normal', 'marginBottom': '0px', 'textAlign': 'center'}" text="© 2022 Soziale-Dienste-Ennstal">
      </rz-heading>
      <rz-heading #heading2 size="H6" [style]="{'color': '#6264A7', 'fontWeight': 'normal', 'marginBottom': '0px', 'textAlign': 'center'}" text="Version 3.012">
      </rz-heading>
    </div>
  </div>
  <div [ngStyle]="{'marginBottom': '10px', 'paddingLeft': '10px', 'paddingRight': '10px'}" class="row">
    <div class="col-lg-6    col-6 col-sm-6 col-md-6 col-xl-6" [ngStyle]="{'paddingRight': '5px'}">
      <rz-card #card1 [style]="{'backgroundColor': '#ffffff', 'border': '0px 0px 3px none none solid #f9f9f9', 'borderBottom': '3px solid rgb(241, 144, 60)', 'display': 'block', 'height': '95px', 'paddingLeft': '15px', 'paddingRight': '20px', 'paddingTop': '15px'}">
        <div class="row" [ngStyle]="{'paddingBottom': '0px', 'paddingTop': '0px'}">
          <div class="col-12" [ngStyle]="{'paddingLeft': '12px'}">
            <rz-icon #icon0 icon="event" [style]="{'color': '#F1903C', 'fontSize': '36px'}">
            </rz-icon>
          </div>
        </div>
        <rz-label #label26 [style]="{'color': '#5d717b', 'display': 'block', 'fontSize': '20px', 'fontStyle': 'normal', 'fontWeight': 'bold', 'textAlign': 'left', 'width': '100%'}" text="Termine">
        </rz-label>
      </rz-card>
    </div>
    <div class="col-lg-6    col-6 col-sm-6 col-md-6 col-xl-6" [ngStyle]="{'paddingLeft': '5px'}">
      <rz-card #card6 [style]="{'backgroundColor': '#ffffff', 'border': '0px 0px 3px none none solid #f9f9f9', 'borderBottom': '3px solid rgb(241, 144, 60)', 'display': 'block', 'height': '95px', 'paddingLeft': '15px', 'paddingRight': '20px', 'paddingTop': '15px'}">
        <div class="row" [ngStyle]="{'paddingBottom': '0px', 'paddingTop': '0px'}">
          <div class="col-12" [ngStyle]="{'paddingLeft': '12px'}">
            <rz-icon #icon2 icon="face" [style]="{'color': '#F1903C', 'fontSize': '36px'}">
            </rz-icon>
          </div>
        </div>
        <rz-label #label28 [style]="{'color': '#5d717b', 'display': 'block', 'fontSize': '20px', 'fontStyle': 'normal', 'fontWeight': 'bold', 'textAlign': 'left', 'width': '100%'}" text="Kunden">
        </rz-label>
      </rz-card>
    </div>
  </div>
  <div [ngStyle]="{'marginBottom': '10px', 'paddingLeft': '10px', 'paddingRight': '10px'}" class="row">
    <div class="col-lg-6    col-6 col-sm-6 col-md-6 col-xl-6" [ngStyle]="{'paddingRight': '5px'}">
      <rz-card #card2 [style]="{'backgroundColor': '#ffffff', 'borderBottom': '3px solid rgb(241, 144, 60)', 'display': 'block', 'height': '120px', 'paddingLeft': '15px', 'paddingRight': '20px'}">
        <div [ngStyle]="{'paddingBottom': '0px', 'paddingTop': '0px'}" class="row">
          <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
            <rz-icon #icon1 icon="book" [style]="{'color': '#F1903C', 'fontSize': '36px'}">
            </rz-icon>
          </div>
        </div>
        <rz-button #button2 size="sm" [style]="{'backgroundColor': 'rgba(0, 0, 0, 0)', 'color': '#5d717b', 'fontSize': '18px', 'fontWeight': '600', 'paddingLeft': '3px', 'position': 'static', 'textAlign': 'left', 'width': '100%'}" text="Mitarbeiter" (click)="button2Click($event)">
        </rz-button>
        <rz-heading #heading4 size="H4" [style]="{'color': '#5d717b', 'display': 'block', 'fontSize': '12px', 'fontWeight': 'normal', 'paddingLeft': '3px', 'textAlign': 'left'}" text="Gruppe 12">
        </rz-heading>
      </rz-card>
    </div>
    <div class="col-lg-6    col-6 col-sm-6 col-md-6 col-xl-6" [ngStyle]="{'paddingLeft': '5px'}">
      <rz-card #card4 [style]="{'backgroundColor': '#ffffff', 'borderBottom': '3px solid #f1903c', 'display': 'block', 'height': '120px', 'paddingLeft': '15px', 'paddingRight': '20px'}">
        <div [ngStyle]="{'paddingBottom': '0px', 'paddingTop': '0px'}" class="row">
          <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
            <rz-icon #icon4 icon="email" [style]="{'color': '#F1903C', 'fontSize': '36px'}">
            </rz-icon>
          </div>
        </div>
        <rz-button #button4 size="sm" [style]="{'backgroundColor': 'rgba(0, 0, 0, 0)', 'color': '#5d717b', 'fontSize': '18px', 'fontWeight': '600', 'paddingLeft': '3px', 'position': 'static', 'textAlign': 'left', 'width': '100%'}" text="Mitteilungen" (click)="button4Click($event)">
        </rz-button>
        <rz-heading #heading6 size="H4" [style]="{'color': '#5d717b', 'display': 'block', 'fontSize': '12px', 'fontWeight': 'normal', 'paddingLeft': '3px', 'textAlign': 'left'}" text="Neu 3 | Offen 2">
        </rz-heading>
      </rz-card>
    </div>
  </div>
  <div [ngStyle]="{'marginBottom': '10px', 'paddingLeft': '10px', 'paddingRight': '10px'}" class="row">
    <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6" [ngStyle]="{'paddingRight': '5px'}">
      <rz-card #card3 [style]="{'backgroundColor': '#ffffff', 'borderBottom': '3px solid #f1903c', 'display': 'block', 'height': '120px', 'paddingLeft': '15px', 'paddingRight': '20px'}">
        <div [ngStyle]="{'paddingBottom': '0px', 'paddingTop': '0px'}" class="row">
          <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
            <rz-icon #icon3 icon="directions_car" [style]="{'color': '#F1903C', 'fontSize': '36px'}">
            </rz-icon>
          </div>
        </div>
        <rz-button #button3 size="sm" [style]="{'backgroundColor': 'rgba(0, 0, 0, 0)', 'color': '#5d717b', 'fontSize': '18px', 'fontWeight': '600', 'paddingLeft': '3px', 'position': 'static', 'textAlign': 'left', 'width': '100%'}" text="Fahrtenbuch" (click)="button3Click($event)">
        </rz-button>
        <rz-heading #heading5 size="H4" [style]="{'color': '#5d717b', 'display': 'block', 'fontSize': '12px', 'fontWeight': 'normal', 'paddingLeft': '3px', 'textAlign': 'left'}" text="Einträge 7">
        </rz-heading>
      </rz-card>
    </div>
    <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6" [ngStyle]="{'paddingLeft': '5px'}">
      <rz-card #card5 [style]="{'backgroundColor': '#ffffff', 'borderBottom': '3px solid #f1903c', 'display': 'block', 'height': '120px', 'paddingLeft': '15px', 'paddingRight': '20px'}">
        <div [ngStyle]="{'paddingBottom': '0px', 'paddingTop': '0px'}" class="row">
          <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
            <rz-icon #icon5 icon="settings" [style]="{'color': '#F1903C', 'fontSize': '36px'}">
            </rz-icon>
          </div>
        </div>
        <rz-button #button5 size="sm" [style]="{'backgroundColor': 'rgba(0, 0, 0, 0)', 'color': '#5d717b', 'fontSize': '18px', 'fontWeight': '600', 'paddingLeft': '3px', 'position': 'static', 'textAlign': 'left', 'width': '100%'}" text="Einstellungen" (click)="button5Click($event)">
        </rz-button>
        <rz-heading #heading7 size="H4" [style]="{'color': '#5d717b', 'display': 'block', 'fontSize': '12px', 'fontWeight': 'normal', 'paddingLeft': '3px', 'textAlign': 'left'}" text="Dein Profil">
        </rz-heading>
      </rz-card>
    </div>
  </div>
  <div [ngStyle]="{'marginBottom': '10px', 'paddingLeft': '10px', 'paddingRight': '10px'}" class="row">
    <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6" [ngStyle]="{'paddingRight': '5px'}">
      <rz-card #card7 [style]="{'backgroundColor': '#ffffff', 'borderBottom': '3px solid #f1903c', 'display': 'block', 'height': '120px', 'paddingLeft': '15px', 'paddingRight': '20px'}">
        <div [ngStyle]="{'paddingBottom': '0px', 'paddingTop': '0px'}" class="row">
          <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
            <rz-icon #icon6 icon="account_balance" [style]="{'color': '#F1903C', 'fontSize': '36px'}">
            </rz-icon>
          </div>
        </div>
        <rz-button #button6 size="sm" [style]="{'backgroundColor': 'rgba(0, 0, 0, 0)', 'color': '#5d717b', 'fontSize': '18px', 'fontWeight': '600', 'paddingLeft': '3px', 'position': 'static', 'textAlign': 'left', 'width': '100%'}" text="Urlaub / ZA Antrag" (click)="button6Click($event)">
        </rz-button>
        <rz-heading #heading13 size="H4" [style]="{'color': '#5d717b', 'display': 'block', 'fontSize': '12px', 'fontWeight': 'normal', 'paddingLeft': '3px', 'textAlign': 'left'}" text="Inhalt App">
        </rz-heading>
      </rz-card>
    </div>
    <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6" [ngStyle]="{'paddingLeft': '5px'}">
      <rz-card #card9 [style]="{'backgroundColor': '#ffffff', 'borderBottom': '3px solid #f1903c', 'display': 'block', 'height': '120px', 'paddingLeft': '15px', 'paddingRight': '20px'}">
        <div [ngStyle]="{'paddingBottom': '0px', 'paddingTop': '0px'}" class="row">
          <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
            <rz-icon #icon7 icon="verified_user" [style]="{'color': '#F1903C', 'fontSize': '36px'}">
            </rz-icon>
          </div>
        </div>
        <rz-button #button7 size="sm" [style]="{'backgroundColor': 'rgba(0, 0, 0, 0)', 'color': '#5d717b', 'fontSize': '18px', 'fontWeight': '600', 'paddingLeft': '3px', 'position': 'static', 'textAlign': 'left', 'width': '100%'}" text="Arbeitsaufzeichnung" (click)="button7Click($event)">
        </rz-button>
        <rz-heading #heading14 size="H4" [style]="{'color': '#5d717b', 'display': 'block', 'fontSize': '12px', 'fontWeight': 'normal', 'paddingLeft': '3px', 'textAlign': 'left'}" text="Schutz Privatsphäre">
        </rz-heading>
      </rz-card>
    </div>
  </div>
  <div [ngStyle]="{'height': '100px'}" class="row">
    <div class="col-6">
      <rz-label #label4 [style]="{'width': '100%'}" text="1111">
      </rz-label>
      <rz-label #label5 [style]="{'width': '100%'}" text="2222">
      </rz-label>
    </div>
    <div class="col-6">
    </div>
  </div>
</rz-content>
