<rz-content #content1 container="main">
  <div [ngStyle]="{'backgroundColor': '#ffc16b', 'height': '30px', 'paddingLeft': '30px', 'paddingRight': '30px'}" class="row">
    <div class="col-12" [ngStyle]="{'borderBottom': '1px dashed #598087', 'paddingLeft': '0', 'paddingRight': '0'}">
      <rz-label #label27 [style]="{'color': '#3a474d', 'display': 'inline-block', 'float': 'left', 'fontFamily': 'verdana,geneva,sans-serif', 'fontSize': '14px', 'fontStyle': 'normal', 'fontWeight': 'normal', 'marginTop': '4px', 'textAlign': 'left'}" [text]="security?.user?.name">
      </rz-label>
      <rz-label #label28 [style]="{'color': '#3a474d', 'display': 'inline-block', 'float': 'right', 'fontFamily': 'verdana,geneva,sans-serif', 'fontSize': '12px', 'fontStyle': 'normal', 'fontWeight': 'normal', 'marginTop': '7px', 'textAlign': 'right'}" [text]="dateHeute | utcDate:'dd.MM.yyyy'">
      </rz-label>
    </div>
  </div>
  <div [ngStyle]="{'backgroundColor': '#ffc16b', 'borderBottom': '1px dotted #f1903c', 'height': '85px', 'marginBottom': '0', 'marginLeft': '0', 'marginRight': '0', 'marginTop': '0'}" class="row">
    <div class="col-4" [ngStyle]="{'display': 'inline-block', 'paddingTop': '8px', 'textAlign': 'left', 'verticalAlign': 'baseline'}" (click)="onClickStart('Mitteilungen')">
      <rz-label #label29 [style]="{'color': '#4C7DA5', 'display': 'block', 'fontFamily': 'verdana,geneva,sans-serif', 'fontSize': '28px', 'fontWeight': 'normal', 'textAlign': 'center', 'verticalAlign': 'baseline', 'width': '100%'}" text="7">
      </rz-label>
      <rz-label #label3 [style]="{'color': '#3a474d', 'display': 'block', 'fontFamily': 'verdana,geneva,sans-serif', 'fontWeight': 'normal', 'textAlign': 'center'}" text="Mitteilungen">
      </rz-label>
    </div>
    <div class="col-4" [ngStyle]="{'display': 'inline-block', 'paddingTop': '8px', 'textAlign': 'left', 'verticalAlign': 'baseline'}" (click)="onClickStart('Aufgaben')">
      <rz-label #label2 [style]="{'color': '#4C7DA5', 'display': 'block', 'fontFamily': 'verdana,geneva,sans-serif', 'fontSize': '28px', 'fontWeight': 'normal', 'textAlign': 'center', 'verticalAlign': 'baseline', 'width': '100%'}" text="0">
      </rz-label>
      <rz-label #label6 [style]="{'color': '#3a474d', 'display': 'block', 'fontFamily': 'verdana,geneva,sans-serif', 'fontWeight': 'normal', 'textAlign': 'center'}" text="Aufgaben">
      </rz-label>
    </div>
    <div class="col-4" [ngStyle]="{'display': 'inline-block', 'paddingTop': '8px', 'textAlign': 'left', 'verticalAlign': 'baseline'}" (click)="onClickStart('Protokolle')">
      <rz-label #label0 [style]="{'color': '#4C7DA5', 'display': 'block', 'fontFamily': 'verdana,geneva,sans-serif', 'fontSize': '28px', 'fontWeight': 'normal', 'textAlign': 'center', 'verticalAlign': 'baseline', 'width': '100%'}" text="12">
      </rz-label>
      <rz-label #label1 [style]="{'color': '#3a474d', 'display': 'block', 'fontFamily': 'verdana,geneva,sans-serif', 'fontWeight': 'normal', 'textAlign': 'center'}" text="Protokolle">
      </rz-label>
    </div>
  </div>
  <div [ngStyle]="{'backgroundColor': '#F5F5F6', 'borderBottom': '1px dotted #f1903c', 'height': '70px', 'paddingRight': ''}" class="row" (click)="onClickStart('Dienstplan')">
    <div class="col-12" [ngStyle]="{'display': 'block', 'paddingBottom': '5px', 'paddingLeft': '80px', 'paddingRight': '50px', 'paddingTop': '12px'}">
      <rz-label #label42 [style]="{'color': '#5d717b', 'display': 'block', 'float': 'none', 'fontSize': '18px', 'fontStyle': 'normal', 'fontWeight': 'bold', 'textAlign': 'left', 'width': '100%'}" text="Dienstplan">
      </rz-label>
      <rz-label #label43 [style]="{'color': '#3a474d', 'display': 'block', 'float': 'none', 'fontSize': '14px', 'fontStyle': 'normal', 'fontWeight': 'normal', 'marginBottom': '2px', 'position': 'static', 'textAlign': 'left', 'width': '100%'}" text="Heute 3 Kundenbesuche geplant">
      </rz-label>
      <rz-icon #icon28 icon="event" [style]="{'color': '#F1903C', 'display': 'block', 'fontSize': '32px', 'left': '30px', 'marginTop': '10px', 'position': 'absolute', 'top': '10px'}">
      </rz-icon>
      <rz-icon #icon29 icon="navigate_next" [style]="{'color': '#F1903C', 'display': 'none', 'float': 'none', 'fontSize': '32px', 'fontWeight': 'normal', 'position': 'absolute', 'right': '30px', 'top': '19px'}">
      </rz-icon>
    </div>
  </div>
  <div [ngStyle]="{'backgroundColor': '#F5F5F6', 'borderBottom': '1px dotted #f1903c', 'height': '70px', 'paddingRight': ''}" class="row" (click)="onClickStart('Kunden')">
    <div class="col-12" [ngStyle]="{'display': 'block', 'paddingBottom': '5px', 'paddingLeft': '80px', 'paddingRight': '50px', 'paddingTop': '12px', 'position': 'relative'}">
      <rz-label #label7 [style]="{'color': '#5d717b', 'display': 'block', 'float': 'none', 'fontSize': '18px', 'fontStyle': 'normal', 'fontWeight': 'bold', 'textAlign': 'left', 'width': '100%'}" text="Kunden">
      </rz-label>
      <rz-label #label8 [style]="{'color': '#3a474d', 'display': 'block', 'float': 'none', 'fontSize': '14px', 'fontStyle': 'normal', 'fontWeight': 'normal', 'marginBottom': '2px', 'position': 'static', 'textAlign': 'left', 'width': '100%'}" text="Achtung 3 Verträge erneuern">
      </rz-label>
      <rz-icon #icon8 icon="face" [style]="{'color': '#F1903C', 'display': 'block', 'fontSize': '32px', 'left': '30px', 'marginTop': '10px', 'position': 'absolute', 'top': '10px'}">
      </rz-icon>
      <rz-icon #icon9 icon="navigate_next" [style]="{'color': '#F1903C', 'display': 'none', 'float': 'none', 'fontSize': '32px', 'fontWeight': 'normal', 'position': 'absolute', 'right': '30px', 'top': '19px'}">
      </rz-icon>
    </div>
  </div>
  <div [ngStyle]="{'backgroundColor': '#F5F5F6', 'borderBottom': '1px dotted #f1903c', 'height': '70px', 'paddingRight': ''}" class="row" (click)="onClickStart('Mitarbeiter')">
    <div class="col-12" [ngStyle]="{'display': 'block', 'paddingBottom': '5px', 'paddingLeft': '80px', 'paddingRight': '50px', 'paddingTop': '12px'}">
      <rz-label #label4 [style]="{'color': '#5d717b', 'display': 'block', 'float': 'none', 'fontSize': '18px', 'fontStyle': 'normal', 'fontWeight': 'bold', 'textAlign': 'left', 'width': '100%'}" text="Mitarbeiter">
      </rz-label>
      <rz-label #label5 [style]="{'color': '#3a474d', 'display': 'block', 'float': 'none', 'fontSize': '14px', 'fontStyle': 'normal', 'fontWeight': 'normal', 'marginBottom': '2px', 'position': 'static', 'textAlign': 'left', 'width': '100%'}" text="Diese Woche 2 Geburtstage">
      </rz-label>
      <rz-icon #icon20 icon="assignment_ind" [style]="{'color': '#F1903C', 'display': 'block', 'fontSize': '32px', 'left': '30px', 'marginTop': '10px', 'position': 'absolute', 'top': '10px'}">
      </rz-icon>
      <rz-icon #icon21 icon="navigate_next" [style]="{'color': '#F1903C', 'display': 'none', 'float': 'none', 'fontSize': '32px', 'fontWeight': 'normal', 'position': 'absolute', 'right': '30px', 'top': '19px'}">
      </rz-icon>
    </div>
  </div>
  <div [ngStyle]="{'backgroundColor': '#F5F5F6', 'borderBottom': '1px dotted #f1903c', 'height': '70px', 'paddingRight': ''}" class="row" (click)="onClickStart('Arbeitsaufzeichnung')">
    <div class="col-12" [ngStyle]="{'display': 'block', 'paddingBottom': '5px', 'paddingLeft': '80px', 'paddingRight': '50px', 'paddingTop': '12px'}">
      <rz-label #label19 [style]="{'color': '#5d717b', 'display': 'block', 'float': 'none', 'fontSize': '18px', 'fontStyle': 'normal', 'fontWeight': 'bold', 'textAlign': 'left', 'width': '100%'}" text="Arbeitsaufzeichnung">
      </rz-label>
      <rz-label #label20 [style]="{'color': '#3a474d', 'display': 'block', 'float': 'none', 'fontSize': '14px', 'fontStyle': 'normal', 'fontWeight': 'normal', 'marginBottom': '2px', 'position': 'static', 'textAlign': 'left', 'width': '100%'}" text="Diese Woche 24 Stunden erfasst">
      </rz-label>
      <rz-icon #icon1 icon="work" [style]="{'color': '#F1903C', 'display': 'block', 'fontSize': '32px', 'left': '30px', 'marginTop': '10px', 'position': 'absolute', 'top': '10px'}">
      </rz-icon>
      <rz-icon #icon4 icon="navigate_next" [style]="{'color': '#F1903C', 'display': 'none', 'float': 'none', 'fontSize': '32px', 'fontWeight': 'normal', 'position': 'absolute', 'right': '30px', 'top': '19px'}">
      </rz-icon>
    </div>
  </div>
  <div [ngStyle]="{'backgroundColor': '#F5F5F6', 'borderBottom': '1px dotted #f1903c', 'height': '70px', 'paddingRight': ''}" class="row" (click)="onClickStart('Fahrtenbuch')">
    <div class="col-12" [ngStyle]="{'display': 'block', 'paddingBottom': '5px', 'paddingLeft': '80px', 'paddingRight': '50px', 'paddingTop': '12px'}">
      <rz-label #label21 [style]="{'color': '#5d717b', 'display': 'block', 'float': 'none', 'fontSize': '18px', 'fontStyle': 'normal', 'fontWeight': 'bold', 'textAlign': 'left', 'width': '100%'}" text="Fahrtenbuch">
      </rz-label>
      <rz-label #label22 [style]="{'color': '#3a474d', 'display': 'block', 'float': 'none', 'fontSize': '14px', 'fontStyle': 'normal', 'fontWeight': 'normal', 'marginBottom': '2px', 'position': 'static', 'textAlign': 'left', 'width': '100%'}" text="In diesem Monat 752 KM erfasst">
      </rz-label>
      <rz-icon #icon18 icon="directions_car" [style]="{'color': '#F1903C', 'display': 'block', 'fontSize': '32px', 'left': '30px', 'marginTop': '10px', 'position': 'absolute', 'top': '10px'}">
      </rz-icon>
      <rz-icon #icon19 icon="navigate_next" [style]="{'color': '#F1903C', 'display': 'none', 'float': 'none', 'fontSize': '32px', 'fontWeight': 'normal', 'position': 'absolute', 'right': '30px', 'top': '19px'}">
      </rz-icon>
    </div>
  </div>
  <div [ngStyle]="{'backgroundColor': '#F5F5F6', 'borderBottom': '1px dotted #f1903c', 'height': '70px', 'paddingRight': ''}" class="row" (click)="onClickStart('Anträge')">
    <div class="col-12" [ngStyle]="{'display': 'block', 'paddingBottom': '5px', 'paddingLeft': '80px', 'paddingRight': '50px', 'paddingTop': '12px'}">
      <rz-label #label25 [style]="{'color': '#5d717b', 'display': 'block', 'float': 'none', 'fontSize': '18px', 'fontStyle': 'normal', 'fontWeight': 'bold', 'textAlign': 'left', 'width': '100%'}" text="Anträge Urlaub und ZA">
      </rz-label>
      <rz-label #label26 [style]="{'color': '#3a474d', 'display': 'block', 'float': 'none', 'fontSize': '14px', 'fontStyle': 'normal', 'fontWeight': 'normal', 'marginBottom': '2px', 'position': 'static', 'textAlign': 'left', 'width': '100%'}" text="Du hast 20 Stunden Zeitausgleich beantragt">
      </rz-label>
      <rz-icon #icon24 icon="description" [style]="{'color': '#F1903C', 'display': 'block', 'fontSize': '32px', 'left': '30px', 'marginTop': '10px', 'position': 'absolute', 'top': '10px'}">
      </rz-icon>
      <rz-icon #icon25 icon="navigate_next" [style]="{'color': '#F1903C', 'display': 'none', 'float': 'none', 'fontSize': '32px', 'fontWeight': 'normal', 'position': 'absolute', 'right': '30px', 'top': '19px'}">
      </rz-icon>
    </div>
  </div>
  <div [ngStyle]="{'backgroundColor': '#F5F5F6', 'borderBottom': '1px dotted #f1903c', 'height': '70px', 'paddingRight': ''}" class="row" (click)="onClickStart('Mitteilungen')">
    <div class="col-12" [ngStyle]="{'display': 'block', 'paddingBottom': '5px', 'paddingLeft': '80px', 'paddingRight': '50px', 'paddingTop': '12px'}">
      <rz-label #label17 [style]="{'color': '#5d717b', 'display': 'block', 'float': 'none', 'fontSize': '18px', 'fontStyle': 'normal', 'fontWeight': 'bold', 'textAlign': 'left', 'width': '100%'}" text="Mitteilungen">
      </rz-label>
      <rz-label #label18 [style]="{'color': '#3a474d', 'display': 'block', 'float': 'none', 'fontSize': '14px', 'fontStyle': 'normal', 'fontWeight': 'normal', 'marginBottom': '2px', 'position': 'static', 'textAlign': 'left', 'width': '100%'}" text="Du hast 7 neue Mitteilungen">
      </rz-label>
      <rz-icon #icon16 icon="email" [style]="{'color': '#F1903C', 'display': 'block', 'fontSize': '32px', 'left': '30px', 'marginTop': '10px', 'position': 'absolute', 'top': '10px'}">
      </rz-icon>
      <rz-icon #icon17 icon="navigate_next" [style]="{'color': '#F1903C', 'display': 'none', 'float': 'none', 'fontSize': '32px', 'fontWeight': 'normal', 'position': 'absolute', 'right': '30px', 'top': '19px'}">
      </rz-icon>
    </div>
  </div>
  <div [ngStyle]="{'backgroundColor': '#F5F5F6', 'borderBottom': '1px dotted #f1903c', 'height': '70px', 'paddingRight': ''}" class="row" (click)="onClickStart('Aufgaben')">
    <div class="col-12" [ngStyle]="{'display': 'block', 'paddingBottom': '5px', 'paddingLeft': '80px', 'paddingRight': '50px', 'paddingTop': '12px'}">
      <rz-label #label15 [style]="{'color': '#5d717b', 'display': 'block', 'float': 'none', 'fontSize': '18px', 'fontStyle': 'normal', 'fontWeight': 'bold', 'textAlign': 'left', 'width': '100%'}" text="Aufgaben">
      </rz-label>
      <rz-label #label16 [style]="{'color': '#3a474d', 'display': 'block', 'float': 'none', 'fontSize': '14px', 'fontStyle': 'normal', 'fontWeight': 'normal', 'marginBottom': '2px', 'position': 'static', 'textAlign': 'left', 'width': '100%'}" text="Du hast keine offenen Aufgaben">
      </rz-label>
      <rz-icon #icon14 icon="assignment_turned_in" [style]="{'color': '#F1903C', 'display': 'block', 'fontSize': '32px', 'left': '30px', 'marginTop': '10px', 'position': 'absolute', 'top': '10px'}">
      </rz-icon>
      <rz-icon #icon15 icon="navigate_next" [style]="{'color': '#F1903C', 'display': 'none', 'float': 'none', 'fontSize': '32px', 'fontWeight': 'normal', 'position': 'absolute', 'right': '30px', 'top': '19px'}">
      </rz-icon>
    </div>
  </div>
  <div [ngStyle]="{'backgroundColor': '#F5F5F6', 'borderBottom': '1px dotted #f1903c', 'height': '70px', 'paddingRight': ''}" class="row" (click)="onClickStart('Protokolle')">
    <div class="col-12" [ngStyle]="{'display': 'block', 'paddingBottom': '5px', 'paddingLeft': '80px', 'paddingRight': '50px', 'paddingTop': '12px'}">
      <rz-label #label13 [style]="{'color': '#5d717b', 'display': 'block', 'float': 'none', 'fontSize': '18px', 'fontStyle': 'normal', 'fontWeight': 'bold', 'textAlign': 'left', 'width': '100%'}" text="Protokolle">
      </rz-label>
      <rz-label #label14 [style]="{'color': '#3a474d', 'display': 'block', 'float': 'none', 'fontSize': '14px', 'fontStyle': 'normal', 'fontWeight': 'normal', 'marginBottom': '2px', 'position': 'static', 'textAlign': 'left', 'width': '100%'}" text="Du hast 12 ungelesene Protokolle">
      </rz-label>
      <rz-icon #icon12 icon="assignment" [style]="{'color': '#F1903C', 'display': 'block', 'fontSize': '32px', 'left': '30px', 'marginTop': '10px', 'position': 'absolute', 'top': '10px'}">
      </rz-icon>
      <rz-icon #icon13 icon="navigate_next" [style]="{'color': '#F1903C', 'display': 'none', 'float': 'none', 'fontSize': '32px', 'fontWeight': 'normal', 'position': 'absolute', 'right': '30px', 'top': '19px'}">
      </rz-icon>
    </div>
  </div>
  <div [ngStyle]="{'backgroundColor': '#F5F5F6', 'borderBottom': '1px dotted #f1903c', 'height': '70px', 'paddingRight': ''}" class="row" (click)="onClickStart('Feedback')">
    <div class="col-12" [ngStyle]="{'display': 'block', 'paddingBottom': '5px', 'paddingLeft': '80px', 'paddingRight': '50px', 'paddingTop': '12px'}">
      <rz-label #label23 [style]="{'color': '#5d717b', 'display': 'block', 'float': 'none', 'fontSize': '18px', 'fontStyle': 'normal', 'fontWeight': 'bold', 'textAlign': 'left', 'width': '100%'}" text="Feedback">
      </rz-label>
      <rz-label #label24 [style]="{'color': '#3a474d', 'display': 'block', 'float': 'none', 'fontSize': '14px', 'fontStyle': 'normal', 'fontWeight': 'normal', 'marginBottom': '2px', 'position': 'static', 'textAlign': 'left', 'width': '100%'}" text="Es sind keine Antworten offen">
      </rz-label>
      <rz-icon #icon22 icon="error" [style]="{'color': '#F1903C', 'display': 'block', 'fontSize': '32px', 'left': '30px', 'marginTop': '10px', 'position': 'absolute', 'top': '10px'}">
      </rz-icon>
      <rz-icon #icon23 icon="navigate_next" [style]="{'color': '#F1903C', 'display': 'none', 'float': 'none', 'fontSize': '32px', 'fontWeight': 'normal', 'position': 'absolute', 'right': '30px', 'top': '19px'}">
      </rz-icon>
    </div>
  </div>
  <div [ngStyle]="{'backgroundColor': '#F5F5F6', 'borderBottom': '1px dotted #f1903c', 'height': '70px', 'paddingRight': ''}" class="row" (click)="onClickStart('Benutzerprofil')">
    <div class="col-12" [ngStyle]="{'display': 'block', 'paddingBottom': '5px', 'paddingLeft': '80px', 'paddingRight': '50px', 'paddingTop': '12px'}">
      <rz-label #label11 [style]="{'color': '#5d717b', 'display': 'block', 'float': 'none', 'fontSize': '18px', 'fontStyle': 'normal', 'fontWeight': 'bold', 'textAlign': 'left', 'width': '100%'}" text="Benutzerprofil">
      </rz-label>
      <rz-label #label12 [style]="{'color': '#3a474d', 'display': 'block', 'float': 'none', 'fontSize': '14px', 'fontStyle': 'normal', 'fontWeight': 'normal', 'marginBottom': '2px', 'position': 'static', 'textAlign': 'left', 'width': '100%'}" text="Deine persönlichen Daten">
      </rz-label>
      <rz-icon #icon10 icon="account_circle" [style]="{'color': '#F1903C', 'display': 'block', 'fontSize': '32px', 'left': '30px', 'marginTop': '10px', 'position': 'absolute', 'top': '10px'}">
      </rz-icon>
      <rz-icon #icon11 icon="navigate_next" [style]="{'color': '#F1903C', 'display': 'none', 'float': 'none', 'fontSize': '32px', 'fontWeight': 'normal', 'position': 'absolute', 'right': '30px', 'top': '19px'}">
      </rz-icon>
    </div>
  </div>
  <div [ngStyle]="{'backgroundColor': '#F5F5F6', 'borderBottom': '1px dotted #f1903c', 'height': '70px', 'paddingRight': ''}" class="row" (click)="onClickStart('Einstellungen')">
    <div class="col-12" [ngStyle]="{'display': 'block', 'paddingBottom': '5px', 'paddingLeft': '80px', 'paddingRight': '50px', 'paddingTop': '12px'}">
      <rz-label #label9 [style]="{'color': '#5d717b', 'display': 'block', 'float': 'none', 'fontSize': '18px', 'fontStyle': 'normal', 'fontWeight': 'bold', 'textAlign': 'left', 'width': '100%'}" text="Einstellungen">
      </rz-label>
      <rz-label #label10 [style]="{'color': '#3a474d', 'display': 'block', 'float': 'none', 'fontSize': '14px', 'fontStyle': 'normal', 'fontWeight': 'normal', 'marginBottom': '2px', 'position': 'static', 'textAlign': 'left', 'width': '100%'}" text="Alle Parameter rund um SinDarEla">
      </rz-label>
      <rz-icon #icon0 icon="settings" [style]="{'color': '#F1903C', 'display': 'block', 'fontSize': '32px', 'left': '30px', 'marginTop': '10px', 'position': 'absolute', 'top': '10px'}">
      </rz-icon>
      <rz-icon #icon2 icon="navigate_next" [style]="{'color': '#F1903C', 'display': 'none', 'float': 'none', 'fontSize': '32px', 'fontWeight': 'normal', 'position': 'absolute', 'right': '30px', 'top': '19px'}">
      </rz-icon>
    </div>
  </div>
  <div [ngStyle]="{'backgroundColor': '#F5F5F6', 'borderBottom': '1px dotted #f1903c', 'height': '70px', 'paddingRight': ''}" class="row" (click)="onClickStart('Logout')">
    <div class="col-12" [ngStyle]="{'display': 'block', 'paddingBottom': '5px', 'paddingLeft': '80px', 'paddingRight': '50px', 'paddingTop': '12px'}">
      <rz-label #label30 [style]="{'color': '#5d717b', 'display': 'block', 'float': 'none', 'fontSize': '18px', 'fontStyle': 'normal', 'fontWeight': 'bold', 'textAlign': 'left', 'width': '100%'}" text="Abmelden">
      </rz-label>
      <rz-label #label31 [style]="{'color': '#3a474d', 'display': 'block', 'float': 'none', 'fontSize': '14px', 'fontStyle': 'normal', 'fontWeight': 'normal', 'marginBottom': '2px', 'position': 'static', 'textAlign': 'left', 'width': '100%'}" text="Aktuellen Benutzer abmelden">
      </rz-label>
      <rz-icon #icon3 icon="power_settings_new" [style]="{'color': '#F1903C', 'display': 'block', 'fontSize': '32px', 'left': '30px', 'marginTop': '10px', 'position': 'absolute', 'top': '10px'}">
      </rz-icon>
      <rz-icon #icon5 icon="navigate_next" [style]="{'color': '#F1903C', 'display': 'none', 'float': 'none', 'fontSize': '32px', 'fontWeight': 'normal', 'position': 'absolute', 'right': '30px', 'top': '19px'}">
      </rz-icon>
    </div>
  </div>
  <div class="row align-items-center" [ngStyle]="{'backgroundColor': '#F5F5F6', 'height': '70px', 'paddingRight': ''}" (click)="onClickStart('Infos')">
    <div class="col-12" [ngStyle]="{'display': 'block'}">
      <rz-heading #heading8 size="H6" [style]="{'color': '#5d717b', 'fontWeight': 'normal', 'marginBottom': '0px', 'textAlign': 'center'}" text="© 2022 Soziale-Dienste-Ennstal">
      </rz-heading>
      <rz-heading #heading2 size="H6" [style]="{'color': '#6264A7', 'fontWeight': 'normal', 'marginBottom': '0px', 'textAlign': 'center'}" text="Version 3.012">
      </rz-heading>
    </div>
  </div>
</rz-content>
