<rz-content #content1 container="main">
  <div class="row">
    <div class="col-md-12">
      <rz-template-form #form0 (submit)="form0Submit($event)">
        <div [ngStyle]="{'marginBottom': '1rem'}" class="row">
          <div class="col-md-3">
            <rz-label #baseIdLabel text="Base" component="BaseID" [style]="{'width': '100%'}">
            </rz-label>
          </div>
          <div class="col-md-9">
            <rz-dropdown #baseId [data]="getBasesResult" textProperty="Name1" valueProperty="BaseID" placeholder="Choose Basis" [style]="{'display': 'block', 'width': '100%'}" multipleItemsSelectedText="{0} items selected" emptyFilterText="No results found" name="BaseID">
            </rz-dropdown>
            <rz-required-validator #baseIdRequiredValidator [component]="baseId" text="BaseID is required" [style]="{'position': 'absolute'}">
            </rz-required-validator>
          </div>
        </div>
        <div [ngStyle]="{'marginBottom': '1rem'}" class="row">
          <div class="col-md-3">
            <rz-label #kundenStatusIdLabel text="Kunden Status" component="KundenStatusID" [style]="{'width': '100%'}">
            </rz-label>
          </div>
          <div class="col-md-9">
            <rz-dropdown #kundenStatusId [data]="getKundenStatusesResult" textProperty="Status" valueProperty="KundenStatusID" placeholder="Choose KundenStatus" [style]="{'display': 'block', 'width': '100%'}" multipleItemsSelectedText="{0} items selected" emptyFilterText="No results found" name="KundenStatusID">
            </rz-dropdown>
            <rz-required-validator #kundenStatusIdRequiredValidator [component]="kundenStatusId" text="KundenStatusID is required" [style]="{'position': 'absolute'}">
            </rz-required-validator>
          </div>
        </div>
        <div [ngStyle]="{'marginBottom': '1rem'}" class="row">
          <div class="col-md-3">
            <rz-label #betreuungsbeginnLabel text="Betreuungsbeginn" component="Betreuungsbeginn" [style]="{'width': '100%'}">
            </rz-label>
          </div>
          <div class="col-md-9">
            <rz-datepicker #betreuungsbeginn [style]="{'display': 'block', 'width': '100%'}" name="Betreuungsbeginn">
            </rz-datepicker>
            <rz-required-validator #betreuungsbeginnRequiredValidator [component]="betreuungsbeginn" text="Betreuungsbeginn is required" [style]="{'position': 'absolute'}">
            </rz-required-validator>
          </div>
        </div>
        <div [ngStyle]="{'marginBottom': '1rem'}" class="row">
          <div class="col-md-3">
            <rz-label #vorbemerkungenLabel text="Vorbemerkungen" component="Vorbemerkungen" [style]="{'width': '100%'}">
            </rz-label>
          </div>
          <div class="col-md-9">
            <rz-textbox #vorbemerkungen [maxLength]="4294967295" [style]="{'width': '100%'}" name="Vorbemerkungen">
            </rz-textbox>
          </div>
        </div>
        <div [ngStyle]="{'marginBottom': '1rem'}" class="row">
          <div class="col-md-3">
            <rz-label #infoLabel text="Info" component="Info" [style]="{'width': '100%'}">
            </rz-label>
          </div>
          <div class="col-md-9">
            <rz-textbox #info [maxLength]="4294967295" [style]="{'width': '100%'}" name="Info">
            </rz-textbox>
          </div>
        </div>
        <div class="row">
          <div class="col offset-sm-3">
            <rz-button #button1 buttonType="submit" icon="save" text="Save" buttonStyle="primary">
            </rz-button>
            <rz-button #button2 buttonStyle="light" [style]="{'marginLeft': '1rem'}" text="Cancel" (click)="button2Click($event)">
            </rz-button>
          </div>
        </div>
      </rz-template-form>
    </div>
  </div>
</rz-content>
