<rz-content #content1 container="main">
  <div [ngStyle]="{'marginBottom': '-3px', 'marginTop': '-7px', 'paddingLeft': '3px', 'paddingRight': '5px'}" class="row">
    <div class="col-md-12">
      <rz-heading #heading8 size="H2" [style]="{'color': '#5d717b', 'display': 'inline-block', 'width': ''}" text="Version">
      </rz-heading>
      <rz-heading #heading9 size="H3" [style]="{'color': '#6d787d', 'display': 'inline-block', 'marginTop': '9px', 'paddingLeft': '5px', 'paddingRight': '5px'}" text="|">
      </rz-heading>
      <rz-heading #heading16 size="H6" [style]="{'color': '#6d787d', 'display': 'inline', 'width': ''}" text="SinDarEal Mobile" >
      </rz-heading>
    </div>
  </div>
  <rz-tabs #tabs0 [style]="{'float': 'none', 'height': '831px'}">
    <rz-tabs-item [selected]="false" text="Versionen">
      <div class="col-md-12">
        <rz-html #html0>
          <div innerHTML='{{versionenHtml}}'></div>
        </rz-html>
      </div>
    </rz-tabs-item>
  </rz-tabs>
</rz-content>
