<rz-content #content1 container="main">
  <div [ngStyle]="{}" class="row">
    <div class="col-md-12">
      <rz-template-form #form0 (submit)="form0Submit($event)">
        <div [ngStyle]="{'marginBottom': '1rem'}" class="row">
          <div class="col-md-3">
            <rz-label #kundenKontaktArtIdLabel [classList]="{'dialogLabel': true}" component="KundenKontaktArtID" [style]="{'width': '100%'}" text="Kontaktart">
            </rz-label>
          </div>
          <div class="col-md-9">
            <rz-dropdown #kundenKontaktArtId [data]="rstKundenKontakteArten" emptyFilterText="No results found" placeholder="Auswählen" [style]="{'display': 'block', 'width': '100%'}" textProperty="Bezeichnung" [(ngModel)]="dsoKundenKontakt && dsoKundenKontakt.KundenKontaktArtID" valueProperty="KundenKontaktArtID" name="KundenKontaktArtID">
            </rz-dropdown>
            <rz-required-validator #kundenKontaktArtIdRequiredValidator [component]="kundenKontaktArtId" [style]="{'position': 'absolute'}" text="Kontaktart eingeben">
            </rz-required-validator>
          </div>
        </div>
        <div [ngStyle]="{'marginBottom': '1rem'}" class="row">
          <div class="col-md-3">
            <rz-label #nameLabel [classList]="{'dialogLabel': true}" component="Name" [style]="{'width': '100%'}" text="Name">
            </rz-label>
          </div>
          <div class="col-md-9">
            <rz-textbox #name [maxLength]="80" [style]="{'display': 'block', 'width': '100%'}" [(ngModel)]="dsoKundenKontakt && dsoKundenKontakt.Name" name="Name">
            </rz-textbox>
            <rz-required-validator #nameRequiredValidator [component]="name" [style]="{'position': 'absolute'}" text="Name eingeben">
            </rz-required-validator>
          </div>
        </div>
        <div [ngStyle]="{'marginBottom': '1rem'}" class="row">
          <div class="col-md-3">
            <rz-label #adresseLabel [classList]="{'dialogLabel': true}" component="Adresse" [style]="{'width': '100%'}" text="Adresse">
            </rz-label>
          </div>
          <div class="col-md-9">
            <rz-textbox #adresse [maxLength]="150" [style]="{'width': '100%'}" [(ngModel)]="dsoKundenKontakt && dsoKundenKontakt.Adresse" name="Adresse">
            </rz-textbox>
          </div>
        </div>
        <div [ngStyle]="{'marginBottom': '1rem'}" class="row">
          <div class="col-md-3">
            <rz-label #telefonLabel [classList]="{'dialogLabel': true}" component="Telefon" [style]="{'width': '100%'}" text="Telefon">
            </rz-label>
          </div>
          <div class="col-md-9">
            <rz-textbox #telefon [maxLength]="30" [style]="{'width': '100%'}" [(ngModel)]="dsoKundenKontakt && dsoKundenKontakt.Telefon" name="Telefon">
            </rz-textbox>
          </div>
        </div>
        <div [ngStyle]="{'marginBottom': '1rem'}" class="row">
          <div class="col-md-3">
            <rz-label #eMailLabel [classList]="{'dialogLabel': true}" component="EMail" [style]="{'width': '100%'}" text="E-Mail">
            </rz-label>
          </div>
          <div class="col-md-9">
            <rz-textbox #eMail [maxLength]="70" [style]="{'width': '100%'}" [(ngModel)]="dsoKundenKontakt && dsoKundenKontakt.EMail" name="EMail">
            </rz-textbox>
          </div>
        </div>
        <div [ngStyle]="{'marginBottom': '1rem'}" class="row">
          <div class="col-md-3">
            <rz-label #hauptansprechpartnerLabel [classList]="{'dialogLabel': true}" component="Hauptansprechpartner" [style]="{'width': '100%'}" text="Hauptkontakt">
            </rz-label>
          </div>
          <div class="col-md-9" [ngStyle]="{'verticalAlign': 'baseline'}">
            <rz-selectbar #hauptansprechpartner [style]="{'display': 'block'}" [(ngModel)]="dsoKundenKontakt && dsoKundenKontakt.Hauptansprechpartner" name="Hauptansprechpartner">
              <rz-selectbar-option text="Ja" value="Ja">
              </rz-selectbar-option>
              <rz-selectbar-option text="Nein" value="Nein">
              </rz-selectbar-option>
            </rz-selectbar>
            <rz-required-validator #requiredValidator0 [component]="hauptansprechpartner" [style]="{'position': 'absolute'}" text="Hauptkontakt eingeben">
            </rz-required-validator>
          </div>
        </div>
        <div [ngStyle]="{'marginBottom': '1rem'}" class="row">
          <div class="col-md-3">
            <rz-label #infoLabel [classList]="{'dialogLabel': true}" component="Info" [style]="{'width': '100%'}" text="Info">
            </rz-label>
          </div>
          <div class="col-md-9">
            <rz-textarea #info [rows]="8" [style]="{'width': '100%'}" [(ngModel)]="dsoKundenKontakt && dsoKundenKontakt.Info" name="Info">
            </rz-textarea>
          </div>
        </div>
        <div [ngStyle]="{'float': 'none'}" class="row">
          <div class="col offset-sm-3 justify-content-end d-flex" [ngStyle]="{'float': 'none'}">
            <rz-button #buttonLoeschen buttonStyle="danger" buttonType="button" icon="delete" text="Löschen" *ngIf="parameters?.strModus == 'Bearbeiten'" (click)="buttonLoeschenClick($event)">
            </rz-button>
            <rz-button #buttonSpeichern buttonStyle="success" buttonType="submit" icon="save" [style]="{'marginLeft': '1rem'}" text="Speichern">
            </rz-button>
          </div>
        </div>
      </rz-template-form>
    </div>
  </div>
  <div [ngStyle]="{'backgroundColor': 'rgba(0, 0, 0, 0)', 'height': '555px', 'marginTop': '22px', 'width': ''}" class="row">
    <div class="col-md-12" [ngStyle]="{'backgroundColor': '#F5F5F6', 'paddingLeft': '0', 'paddingRight': '0'}">
    </div>
  </div>
</rz-content>
